[package]
name = "toki-pona"
version = "0.1.0"
edition = "2024"

[features]
default = []
serde = ["dep:serde"]

[dependencies]
nom = "7.1.3"
serde = { version = "1.0", features = ["derive"], optional = true }